<div id="<%= dom_id image %>">
  <p>
    <strong>File:</strong>
    <%= image.file %>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

  <p>
    <strong>Imageable:</strong>
    <%= image.imageable_id %>
  </p>

</div>
